
# -------------------------
# Simulation outputs
# -------------------------
sim/waves/*
sim/*.log
sim/*.vcd
sim/*.fst
sim/*.wlf

# -------------------------
# Build artifacts
# -------------------------
*.o
*.so
*.d
*.obj
*.a
*.out

# -------------------------
# Tool-specific
# -------------------------
*.vvp
*.vcd
*.elf
*.hex

# -------------------------
# UVM / test artifacts
# -------------------------
uvm.log
transcript
vsim.wlf
modelsim.ini

# -------------------------
# OS / editor
# -------------------------
.DS_Store
*.swp
*~

# -------------------------
# IDEs
# -------------------------
.vscode/
.idea/

# -------------------------
# Logs
# -------------------------
*.log


# -------------------------
# Python
# -------------------------
tb/directed/__pycache__/
tb/directed/sim_build/